:root {
  --mainColor: #e68285;
}
a {
  color: white;
  text-decoration: none;
}
/*! Side Bar */
.barBtn {
  cursor: pointer;
}
.barBtn i{
 transition: all 400ms;
}
.sideBarInner ul li a {
  transition: color 500ms;
}
.sideBarInner ul li:hover a {
  color: rgba(255, 0, 0, 0.5);
}
.sideBar .iconImage{
  width: 35px;
  height: 35px;
}
/*!Home */
#home {
  height: 700px;
  background-image: linear-gradient(rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.2)),
    url(../imgs/events-heavenly-header.jpg);
  background-position: center;
  background-size: cover;
}
#home h1 {
  font-size: 50px;
}
/*!Signers Section */
#signers .cardItem {
  width: 800px;
}
#signers .cardItem h5{
  background-color: var(--mainColor);
  cursor: pointer;
}
#signers .cardItem p{
  background-color: #cdcdcc;
}
#signers .cardItem p:not(#signers .cardItem p:first-of-type){
  display: none;
}
/* !Events */
#events{
  background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.5)),
    url(../imgs/invitation-2508607__340.jpg);
  background-position: center center;
  background-size: cover;
}
#contact .socialMedia .socialItem {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 500ms;
}
#contact .socialMedia .socialItem:hover{
background-color: var(--mainColor);
color: white;
}
#contact textarea{
  max-height: 300px;
}
#contact .submit button{
  background-color: var(--mainColor);
}